body {
  background: linear-gradient(#2cd3e1, #ffffff);
  width: 100%; /* Lebar 100% */
  height: 100vh;
}

.navbar {
  padding-left: 60px;
  padding-right: 30px;
  font-family: "chewy";
  box-shadow: 2px 2px 20px #313886;
}

.nav-logo {
  width: 40px; 
  height: 40px; 
  margin-right: 5px; /* Menambahkan jarak antara logo dan teks */
}


.navbar-nav.ml-auto {
  margin-right: 20px;
}

.custom-navbar {
  background-color: #f3f3f3;
}
.navbar .nav-link {
  font-size: 15px;
  text-align: center;
}
.navbar-nav .nav-link:hover {
  background-color: #404bbd;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/* login-Form */
.container .card {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  height: 500px;
  width: 440px;
  padding: none;
  font-family: "poppins";
  box-shadow: 2px 2px 2px #313886;
}

.login-form {
  padding: 35px;
  background-color: ffff;
  border: none;
}

.lupa {
  color: black;
  font-size: small;
  text-decoration: none;
}

.belumpunya {
  display: block;
  text-decoration: none;
  justify-content: center;
  font-size: 13px;
}

.btn-custom {
  background-color: #2cd3e1; /* Ganti dengan kode warna yang Anda inginkan */
  color: #ffffff; /* Warna teks di atas tombol */
  border: none;
  box-shadow: #f3f3f3 5%;
  transition: 0.2s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Tambahkan efek box-shadow ke tombol */
  transition: box-shadow 0.3s ease; /* Menghilangkan border tombol */
}

.btn-custom:active {
  transform: scale(1.1);
}

.btn-custom:hover {
  background-color: #2cd3e1;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5); /* Ubah efek box-shadow saat menghover tombol */
} /* Warna latar belakang saat tombol dihover */

.img-fluid {
  max-width: 100%;
  height: auto;
}
.img-fluid .img-girl {
  margin-top: 30%;
  max-width: 100%;
  height: 400px;
  width: 300px;
  float: inline-end;
  justify-content: end;
  margin-left: 40%;
}
.img-fluid .img-boy {
  max-width: 100%;
  height: 400px;
  width: 290px;
  float: inline;
  margin-right: 0%;
  margin-top: 30%;
  justify-content: flex-end;
  align-items: end;
  padding: none;
}

.card-footer {
  border-radius: none;
  height: auto;
  display: inline-block;
  background-color: black;
}
